<h4 class="my-3">Results for "{{lastSearch}}"</h4>
<div class="d-flex justify-content-between text-light-gray mb-3">
    <div class="d-flex gap-2">
        <p class="m-0 text-light-gray">Order by:</p>
        <div class="card-borders fw-bold font-14 cursor-pointer align-items-center" [ngClass]="{'chosen': orderBy == 0}" 
                (click)="setOrderBy(0)">DEFAULT</div>
        <div class="card-borders fw-bold font-14 cursor-pointer align-items-center" [ngClass]="{'chosen': orderBy == 1}" 
                (click)="setOrderBy(1)">STUDENTS COUNT</div>
        <div class="card-borders fw-bold font-14 cursor-pointer align-items-center" [ngClass]="{'chosen': orderBy == 2}" 
                (click)="setOrderBy(2)">UPDATE DATE</div>
        <div class="card-borders fw-bold font-14 cursor-pointer align-items-center" [ngClass]="{'chosen': orderBy == 3}" 
                (click)="setOrderBy(3)">PRICE</div>
    </div>
    <div *ngIf="isAscending" class="card-borders cursor-pointer d-flex align-items-center gap-2" (click)="setAscending(false)">
        <i class="fa-solid fa-arrow-down-short-wide"></i>
        Ascending
    </div>
    <div *ngIf="!isAscending" class="card-borders cursor-pointer d-flex align-items-center gap-2 chosen" (click)="setAscending(true)">
        <i class="fa-solid fa-arrow-up-short-wide"></i>
        Descending
    </div>
</div>
<div class="d-flex gap-3">
    <div class="d-flex flex-column gap-3">
        <form class="d-flex align-items-center" (ngSubmit)="setPage(1)">
            <input class="input-main" style="width: 260px;" type="text" placeholder="Search request" name="filter" [(ngModel)]="filter"/>
            <i class="fa-solid fa-magnifying-glass text-pink" style="width: 0; font-size: 20px; position: relative; left: -32px;"></i>
        </form>
    </div>
    <div style="flex: 1">
        <div class="d-flex flex-column gap-3">
            <app-course-search *ngFor="let c of list" [course]="c" style="display: flex;"></app-course-search>
        </div>
        <app-pagination *ngIf="metadata" [metadata]="metadata" (changePageFunction)="setPage($event)"></app-pagination>
    </div>
</div>

