<h4 class="my-3">Results for "{{lastSearch}}"</h4>
<div class="d-flex justify-content-between text-light-gray mb-3">
    <div class="d-flex gap-2">
        <p class="m-0 text-light-gray">Order by:</p>
        <div class="card-borders fw-bold font-14 cursor-pointer align-items-center" [ngClass]="{'chosen': orderBy == 0}" 
                (click)="setOrderBy(0)">DEFAULT</div>
        <div class="card-borders fw-bold font-14 cursor-pointer align-items-center" [ngClass]="{'chosen': orderBy == 1}" 
                (click)="setOrderBy(1)">STUDENTS COUNT</div>
        <div class="card-borders fw-bold font-14 cursor-pointer align-items-center" [ngClass]="{'chosen': orderBy == 2}" 
                (click)="setOrderBy(2)">UPDATE DATE</div>
        <div class="card-borders fw-bold font-14 cursor-pointer align-items-center" [ngClass]="{'chosen': orderBy == 3}" 
                (click)="setOrderBy(3)">PRICE</div>
    </div>
    <div *ngIf="isAscending" class="card-borders cursor-pointer d-flex align-items-center gap-2" (click)="setAscending(false)">
        <i class="fa-solid fa-arrow-down-short-wide"></i>
        Ascending
    </div>
    <div *ngIf="!isAscending" class="card-borders cursor-pointer d-flex align-items-center gap-2 chosen" (click)="setAscending(true)">
        <i class="fa-solid fa-arrow-up-short-wide"></i>
        Descending
    </div>
</div>

<div class="d-flex gap-3">
    <div class="d-flex flex-column gap-3" style="width: 260px;" >
        <form class="d-flex align-items-center" (ngSubmit)="setPage(1)">
            <input class="input-main" style="width: 260px;" type="text" placeholder="Search request" name="filter" [(ngModel)]="filter"/>
            <i class="fa-solid fa-magnifying-glass text-pink" style="width: 0; font-size: 20px; position: relative; left: -32px;"></i>
        </form>
        <div class="search-container">
            <div class="d-flex flex-column gap-1">
                <h5 class="text-pink m-0 fw-bold" style="font-size: 17px;">Automated Courses Select</h5>
                <p class="m-0 search-description">Choose skills and levels that you want to acquire.</p>
            </div>
            <div class="d-flex justify-content-between align-items-center">
                <h6 class="text-light-gray m-0">Skills</h6>
                <div class="d-flex gap-2">
                    <button class="btn-pink-small" (click)="setShowSkills()">ADD</button>
                    <button class="btn-pink-small" (click)="cleanSkills()">CLEAN</button>
                </div>
            </div>
            <div class="d-flex flex-column" style="gap: 7px;">
                <div class="d-flex justify-content-between align-items-center" *ngFor="let s of skillLookups" >
                    <p class="m-0 text-light-gray" style="line-height: 1.2;">{{s.skillName}}</p>
                    <div class="d-flex gap-1">
                        <input class="input-main text-light-gray" type="text" [(ngModel)]="s.level" 
                        style="width: 40px; color: #9b9b9b; padding: 2px 10px; font-size: 14px;"/>
                        <button class="btn-pink-small" (click)="removeSkill(s.skillId)">
                            <i class="fa-xs fa-solid fa-trash-can"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="d-flex gap-2">
                <input id="isBasedOnTime" type="checkbox" class="form-check-input checkbox" (click)="toggleBasedOnTime()" 
                        [checked]="isBasedOnTime"/>
                <label for="isBasedOnTime" class="text-light-gray">The least time to learn</label>
            </div>
            <div class="d-flex mx-auto gap-2">
                <button class="btn-pink-small mx-auto" (click)="performAutomatedSearch()">SEARCH</button>
                <button class="btn-pink-small mx-auto" (click)="getPdf()">GET PDF</button>
            </div>
        </div>
    </div>
    <div style="flex: 1">
        <div *ngIf="!error">
            <app-choose-skills *ngIf="showSkills" [skillLookups]="skillLookups"></app-choose-skills>
            <div *ngIf="!showSkills" class="d-flex flex-column gap-3">
                <app-course-search *ngFor="let c of list" [course]="c" style="display: flex;"></app-course-search>
            </div>
            <app-pagination *ngIf="!showSkills && metadata" [metadata]="metadata" (changePageFunction)="setPage($event)"></app-pagination>
        </div>
        <div *ngIf="error" class="d-flex p-5">
            <p class="mx-auto text-light-gray" style="text-align: center;">{{error}}</p>
        </div>
    </div>
</div>

