<section class="d-flex flex-column">
    <div class="card m-1 d-flex flex-row" *ngFor="let book of books">
        <div class="card-body d-flex flex-row">
            <input class="form-check-input checkbox me-2" type="checkbox"  
                    [checked]="materialExistsInCourse(book.id)" (click)="addBookToCourse(book.id)">
            <div style="width:100%">
                <div class="d-flex flex-row justify-content-between mb-2">
                    <div class="d-flex flex-row">
                        <i class="fa-solid fa-book mt-1 me-2"></i>
                        <a href="{{book?.link}}" target="_blank">
                            <p class="mb-0" style="margin-right:7px;">{{book?.name}}</p>
                        </a>
                    </div>
                    <div class="d-flex flex-row">
                        <p class="text-primary mb-0" style="margin-right:20px">{{book?.extension?.name}}</p>
                        <p class="text-secondary mb-0" style="white-space: nowrap">{{book?.pagesCount}} pages</p>
                    </div>
                </div>
                    <p class="mb-1 text-secondary"><strong style="margin-right:7px;">Authors:</strong>
                        <span *ngFor="let a of book.authors">{{a?.fullName}}, </span>
                    </p>
                    <p class="mb-1 text-secondary"><strong>Publication year: </strong>{{book?.publicationYear}}</p>
            </div>
            <button class="btn btn-sm btn-danger ms-4 my-auto p-1 px-2" (click)="this.delete(book.id)">
                <i class="fa-xs fa-solid fa-trash-can"></i>
            </button>
        </div>
    </div>
</section>

<span class="text-danger">{{deleteError}}</span>

<app-pagination *ngIf="metadata" [metadata]="metadata" (changePageFunction)="setPage($event)"></app-pagination>

<hr/>

<div class="form-group mb-2"> 
    <app-create-book (refreshPaging)="refreshPaging()"></app-create-book>
</div>