<section class="d-flex gap-3 pt-3">
    <div *ngIf="!cartItems.length" class="col-9">
        <h5 class="text-secondary">Shopping Cart is Empty</h5>
    </div>
    <div *ngIf="cartItems.length" class="col-9">
        <div class="d-flex flex-column gap-3">
            <div *ngFor="let ci of cartItems" class="card-wide">
                <img src="{{ci.course.thumbnail}}" class="">
                <div class="d-flex flex-column justify-content-between" style="flex: 1;">
                    <div class="mb-4">
                        <h5 class="text-gray">{{ci.course.name}}</h5>
                        <p class="text-gray">{{ci.course.shortDescription}}</p>
                    </div>
                    <div class="d-flex justify-content-between gap-3">
                        <div class="d-flex align-items-center gap-2 justify-content-between" style="flex: 1;">
                            <h5 class="text-pink m-0">{{ci.course.price}} points</h5>
                        </div>
                        <button class="btn-pink" style="z-index: 1000;" (click)="delete(ci.id)">
                            <i class="fa-solid fa-trash-can"></i>
                        </button>
                    </div>
                    <a routerLink="/courses/{{ci.course.id}}" class="stretched-link"></a>
                </div>
            </div>
        </div>
        <app-pagination *ngIf="metadata" [metadata]="metadata" (changePageFunction)="setPage($event)"></app-pagination>
    </div>
    <div class="col-3">
        <div class="bg-pink text-white flex-row d-flex justify-content-between mt-1 p-3" style="border-radius: 20px;">
            <div class="text-start">
                <p class="small m-0">Total price:</p>
                <h4 class="m-0">{{this.totalPrice}} points</h4>
            </div>
            <button class="btn btn-pay text-white my-auto py-2" (click)="buy()" [disabled]="!cartItems.length">
                <b>Buy</b>
            </button>
        </div>
    </div>
</section>