<section class="d-flex flex-wrap">
    <div class="card m-1" *ngFor="let author of authors">
        <div class="card-body d-flex flex-row">
            <input type="checkbox" class="form-check-input checkbox" style="margin-right:10px;" 
                    [checked]="authorExistsInBook(author.id)" (click)="addAuthorToBook(author.id)"/>
            <p class="mb-0" style="margin-right:10px;">{{author.fullName}}</p>
            <button class="btn btn-sm btn-danger ms-4 my-auto p-1 px-2" (click)="this.delete(book.id)">
                <i class="fa-xs fa-solid fa-trash-can"></i>
            </button>
        </div>
    </div>
</section>

<span class="text-danger">{{deleteError}}</span>

<app-create-author (refreshPaging)="refreshPaging()"></app-create-author>

<app-pagination *ngIf="metadata" [metadata]="metadata" (changePageFunction)="setPage($event)"></app-pagination>