@model int

<div class="progress" style="height: 5px;">
    <div class="progress-bar" role="progressbar" style="width: @Model%;" 
         aria-valuemin="0" aria-valuemax="100"></div>
</div>
<p class="text-primary">@Model% Complete</p>
