<div class="card m-1" style="width: 18rem;">
    <img src="{{userCourse.course.thumbnail}}" class="card-img-top">
    <div class="card-body">
        <h5 class="card-title">{{userCourse.course.name}}</h5>
        <p class="card-text">{{userCourse.course.shortDescription}}</p>
        <div class="progress" style="height: 5px;">
            <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': progress }"></div>
        </div>
        <p class="text-primary">{{progress}}% Complete</p>
    </div>
    <a class="stretched-link"></a>
</div>