<div class="card-wide flex-column">
    <img src="{{course.thumbnail}}" routerLink="/courses/{{course.id}}" style="cursor: pointer;">
    <div class="d-flex flex-column justify-content-between" style="height: 100%;">
        <div class="mb-4" routerLink="/courses/{{course.id}}" style="cursor: pointer;">
            <h5 class="card-title">{{course.name}}</h5>
            <p class="card-text">{{course.shortDescription}}</p>
        </div>
        <div class="d-flex flex-row justify-content-between">
            <h5 class="text-pink">{{course.price}} points</h5>
            <button *ngIf="!course?.isBought" class="btn-pink" (click)="addToCart(course.id)">Add to cart</button>
            <button *ngIf="course?.isBought" class="btn-pink" routerLink="/courses/learn/{{course.id}}">Learn Course</button>
        </div>
    </div>
</div>