<h2 class="mb-3">Courses Statistics</h2>
<div class="d-flex gap-3 flex-wrap">
    <div class="bg-pink text-white d-flex justify-content-between px-4 py-3 align-items-center" 
    style="border-radius: 12px; min-width: 300px; flex: 1;">
        <h5 class="m-0">Saled Courses Count</h5>
        <h4 class="m-0">{{sales.saledCoursesCount}}</h4>
    </div>
    <div class="bg-pink text-white d-flex justify-content-between px-4 py-3 align-items-center" 
        style="border-radius: 12px; min-width: 300px; flex: 1;">
        <h5 class="m-0">Customers Count</h5>
        <h4 class="m-0">{{sales.customersCount}}</h4>
    </div>
    <div class="bg-pink text-white d-flex justify-content-between px-4 py-3 align-items-center" 
        style="border-radius: 12px; min-width: 300px; flex: 1;">
        <h5 class="m-0">Completed Courses Count</h5>
        <h4 class="m-0">{{sales.completedCoursesCount}}</h4>
    </div>
    <div class="bg-pink text-white d-flex justify-content-between px-4 py-3 align-items-center" 
        style="border-radius: 12px; min-width: 300px; flex: 1;">
        <h5 class="m-0">Completed Courses Percentage</h5>
        <h4 class="m-0">{{sales.completedCoursesPercentage}} %</h4>
    </div>
</div>