html {
    overflow-x: hidden;
    --main-color: #E278F7;
}

body {
    background: #F9F9F9;
}

.material-card {
    border-radius: 15px;
    background-color: #1E1E2C;
    padding: 15px;
}

.material-card.chosen {
    background-color: #6D4781;
}

.text-red {
    color: #FD4756;
}

.text-green {
    color: #25B299;
}

.text-pink {
    color: #E278F7;
}

.text-gray {
    color: #5C5A58;
}

.text-light-gray {
    color: #9b9b9b;
}

.bg-red {
    background-color: #FD4756 !important;
}

.bg-green {
    background-color: #25B299 !important;
}

.bg-pink {
    background-color: #E278F7 !important;
}

.to-pink {
    filter: invert(71%) sepia(95%) saturate(3381%) hue-rotate(235deg) brightness(100%) contrast(94%);
}

.btn-pink-small {
    background-color: #E278F7;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    border: none;
    padding: 3px 11px;
    border-radius: 14px;
    transition: 0.7s;
}

    .btn-pink-small:hover {
        background-color: #ac5abd;
    }

.btn-pink {
    background-color: #E278F7;
    color: #fff;
    font-size: 16px;
    border: none;
    padding: 5px 14px;
    border-radius: 16px;
    transition: 0.7s;
}

    .btn-pink:hover {
        background-color: #ac5abd;
    }

a.text-pink:hover {
    color: #ac5abd;
}

.input-pink {
    font-size: 16px;
    font-weight: 700;
    color: var(--main-color);
    background: #2A2C3E;
    border: 1px solid var(--main-color);
    border-radius: 14px;
    padding: 1px 7px;
}

.btn-download {
    background-color: #E278F7;
    color: #fff;
    font-size: 17px;
    border: none;
    padding: 6px 15px;
    border-radius: 3px;
    transition: 0.7s;
    text-decoration: none;
    font-weight: 600;
}
    .btn-download:hover {
        background-color: #ac5abd;
        color: #fff;
    }

.form-check-input:checked {
    background-color: var(--main-color) !important;
    border-color: var(--main-color) !important;
}

.card-wide {
    width: 100%;
    padding: 18px;
    border-radius: 20px;
    filter: drop-shadow(0 5px 10px #eee);
    display: flex;
    gap: 18px;
    background: #FEFEFE;
}

.card-wide img {
    border-radius: 14px;
}

.card-main {
    border-radius: 20px;
    filter: drop-shadow(0 5px 10px #eee);
    display: flex;
    background: #FEFEFE;
}

.card-borders {
    border-radius: 20px;
    display: flex;
    border: 1px solid #9b9b9b;
    padding: 2px 10px;
}

.input-main {
    font-size: 16px;
    border-radius: 18px;
    padding: 4px 12px;
    border: 1px solid var(--main-color);
    background: none;
    color: #5C5A58;
    transition: 0.5s;
}

.font-14 {
    font-size: 14px;
}

.cursor-pointer {
    cursor: pointer;
}