<div class="col-4">
    <form #form="ngForm" novalidate>
        <div class="form-group mb-2"> 
            <label class="control-label">Name</label> 
            <input class="form-control" [(ngModel)]="course.name" name="name" required/>
            <span class="text-danger"></span> 
        </div>
        <div class="d-flex mb-2 flex-column">
            <img src="{{course.thumbnail}}"/>
            <div>
                <label class="control-label">Thumbnail</label>
                <input class="form-control" type="file" onchange="setThumbnail($event)">
            </div>
        </div>
        <div class="form-group mb-2"> 
            <label class="control-label">Short Description</label> 
            <textarea class="form-control" rows="2" [(ngModel)]="course.shortDescription" 
                      name="shortDescription" required></textarea>
            <span class="text-danger"></span> 
        </div>
        <div class="form-group mb-2"> 
            <label class="control-label">Description</label> 
            <textarea class="form-control" rows="5" [(ngModel)]="course.description" name="description" required></textarea>
            <span class="text-danger"></span>
        </div>
        <div class="form-group mb-2"> 
            <label class="control-label">Price</label> 
            <input class="form-control" [(ngModel)]="course.price" name="price" required/>
            <span class="text-danger"></span>
        </div>
    </form>
    <section class="form-group mb-2">
        <h6>Skills:</h6>
        <div class="d-flex flex-wrap">
            <app-skill *ngFor="let s of course.skills" [skill]="s" (remove)="removeSkill($event)"></app-skill>
        </div>
        <div>
            <span class="text-danger"></span>
        </div>
        <input type="button" value="Add Skills" class="btn btn-primary"/>
    </section>
    <section class="form-group mb-2">
        <h6>Materials:</h6>
        <div>
            <app-material *ngFor="let m of course.materials; let i = index" [material]="m" [index]="i + 1"
                        (remove)="removeMaterial($event)"></app-material>
        </div>
        <div>
            <span class="text-danger"></span>
        </div>
        <input type="button" value="Add Videos" class="btn btn-primary me-2"/>
        <input type="button" value="Add Books" class="btn btn-primary me-2" />
        <input type="button" value="Add Articles" class="btn btn-primary" />
    </section>
    <hr/>
    <section class="form-group mb-2">
        <input type="button" value="Edit" class="btn btn-success me-2" (click)="update()" [disabled]="form.invalid"/>
    </section>
</div>
<div class="col-8">

</div>